{{!-- <section class="card">
  <a href="/painting/{{id}}">
    <header>{{company.description}}</header>

    <div class="card-body">
      <ul>
        <li>CE0: {{company.ceo}}</li>
        <li>Founded: {{company.ceo}}</li>
        <li>Headquarters: {{company.ceo}}</li>
      </ul>
    </div>
  </a>
</section> --}}