<section class="card">
  <a href="/painting/{{id}}">
    <header>{{description}}</header>

    <div class="card-body">
      <ul>
        <li>CE0: {{ceo}}</li>
        <li>Founded: {{ceo}}</li>
        <li>Headquarters: {{ceo}}</li>
      </ul>
    </div>
  </a>
</section>